* {
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    padding: 6px;
}

.container-satu {
    background-image: url(img/mountain.jpg);
    background-repeat: no-repeat;
    background-position-y: 59%;
    background-size: cover;
    padding-bottom: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(2,1fr);
    grid-auto-rows: .3fr;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, .5);
}
.container-satu h1 {
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    text-align: center;
    width: 100%;
    font-size: 4rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    opacity: .5;
    
}
.container-satu ul  {
    position: sticky;
    top: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 15px;

}
.container-satu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    transition: .3s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
.container-satu ul li a:hover{
    opacity: .5;
}
.container-satu .name {
    align-self: center;
}
h3.name {
    color: white;
    opacity: .7;
}
.container-satu .name a {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    margin-left: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    color: rgb(255, 255, 255);
    opacity: .5;
    transition: .3s;
}
.container-satu .name a:hover {
    opacity: 1;
}
.container-satu .kotak-social-media {
    display: flex;
    margin-top: 20px;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container-satu .kotak-social-media img {
    opacity: .5;
    transition: .3s;
}
.container-satu .kotak-social-media img:hover {
    opacity: 1;
}
.container-satu .kotak-social-media a {
    text-decoration: none;
}

.humberger {
    display: none;
   
}
.humberger span {
    width: 23px;
    height: 5px;
    background-color: black;
    opacity: .5;
}


/* responsive versi mobile */ 
@media screen and (max-width:578px){
    
    .container-satu ul {
        display: none;
    }
    .container-satu h1 {
        font-size: 4rem;
    }
    .humberger {
        display: flex;
        margin-top: 10px;
        margin-right: 10px;
        position: sticky;
        right: 0;
        flex-direction: column;
        height: max-content;
        justify-self: flex-end;
        gap: 2px;
        cursor: pointer;
    }
    .humberger .span-1.tambah{
        transform: rotate(45deg) translate(10px,10px);
    }
    .humberger .span-2.tambah{
        display: none;
    }
    .humberger .span-3.tambah{
        transform: rotate(-45deg) translate(-5px,4px);
    }

}